@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #070B10;
  --bg-secondary: #0B1220;
  --bg-card: #0B1220;
  --bg-card-hover: #151e30;
  --bg-input: #1a2235;

  --border: #3B82F6;
  --border-light: #243352;

  --text-primary: #ffffff;
  --text-secondary: #8899aa;
  --text-muted: #4a5568;

  --accent-cyan: #00d4ff;
  --accent-blue: #2563eb;
  --accent-blue-bright: #3b82f6;
  --accent-green: #10b981;
  --accent-orange: #f59e0b;
  --accent-red: #ef4444;

  --sidebar-width: 220px;
  --boxShadowClorBlue: #3B82F6;

  --bg-card: #1C2533;
}

/* Remove the default white calendar icon in Chrome, Edge, and Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    /* This makes the default icon invisible but keeps the whole 
       input area clickable to open the date picker */
}

